[submodule "refer/pytorch-lightning-template"]
	path = refer/pytorch-lightning-template
	url = https://github.com/DavidZhang73/pytorch-lightning-template.git
[submodule "refer/lightning-hydra-template"]
	path = refer/lightning-hydra-template
	url = https://github.com/ashleve/lightning-hydra-template.git
[submodule "refer/yet-another-lightning-hydra-template"]
	path = refer/yet-another-lightning-hydra-template
	url = https://github.com/gorodnitskiy/yet-another-lightning-hydra-template.git
